<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RazvSF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="WorkingFolder" value=""/>
  </appSettings>
  <userSettings>
    <RazvSF.Properties.Settings>
      <setting name="ExcelFile" serializeAs="String">
        <value>Макросы.xls</value>
      </setting>
      <setting name="ExcelSheet" serializeAs="String">
        <value>СЮДА</value>
      </setting>
    </RazvSF.Properties.Settings>
  </userSettings>
</configuration>
